body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#b2cdf644;
}

header{
    text-align:center;
    padding:50px 0;
}

.albums-list{
    display:flex;
    flex-direction:column;
    gap:25px;
    padding:20px;
    max-width:800px;
    margin:auto;
}

.album-item{
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
    background:rgb(253, 253, 253);
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
}

.album-item:hover{
    transform:translateY(-5px);
}

.album-item img{
    width:160px;
    height:120px;
    object-fit:cover;
}

.album-info{
    padding:20px;
}

.album-info h3{
    margin:0;
    font-size:20px;
    font-weight:600;
}

.album-info span{
    color:#777;
}

.back{
    margin:20px;
    padding:10px 20px;
    cursor:pointer;
}

.photo-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:12px;
    padding:20px;
}

.photo-grid img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
}
